.error {
  border: 1px solid red;
}
.headingButton{
  background-color: black;
  border: 0;
  font-weight: bold;
}
body{
  text-align: center;
}
.pagination{
  justify-content: center;
}
.pageSize{
  width:75px;
}
